.MainProject{
    background-color: #e1c3d3;
    padding-top: 30px;
}

.bodyPJ-html-main{
    
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 25px;
}
.bodyPJ-html-card{
   
    width: 30%;
    /* border: 1px solid black; */
    padding: 16px 0px;
}
.bodyPJ-html-card img{
    width: 100%;
    /* padding: 16px 24px; */
}
.bodyPJ-html-card h4{
    padding: 10px 5px;
   
}
.hr{
    width: 50%;
    align-content: center;
    text-align: center;
    height: 10px;
    font-size: 50px;
    color: red;
    opacity: 2;
}
.bodyPJ-Reac-todolist h4{
    text-align: left;
    padding: 0;
}